* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    min-height: 100vh;
    text-align: center;
    padding: 30px 0;
    background-color: #F5F6F7;
}

.main-title {
    display: block;
    font-size: 50px;
    font-weight: 300;
    text-shadow: 2px 2px 1px lightslategray;
    margin-bottom: 50px;
}

#content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 80%;
}

.employee-card {
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px lightslategray;
}

.employee-card img {
    background-color: #F5F6F7;
}

.example:last-child {
    margin-bottom: 0;
}